@import '../../scss/utilities/variables';
@import '../../scss/layout/colors';

.adminpanel {
  display: flex;
  color: $clr-light;

  .bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    mix-blend-mode: multiply;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .adminpanel-container {
    flex: 6;
    margin-left: 215px;
    transition: 0.7s ease;
    
    .adminpanel-main {
      margin-top: 70px;
      padding: 2em;
      height: calc(100% - 140px);

      h2 {
        margin-bottom: 0.5em;
      }

      hr {
        border: $border;
      }

      .content-wrapper {
        display: flex;
        height: 100%;
        
        .left-section-wrapper {
          flex: 1;
          border-right: $border;
          
          .left-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 2em;
            gap: 1em;
          }
        }
        .right-section-wrapper {
          flex: 3;

          .right-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 2em;
          }
        }
      }
    }
  }

  .adminpanel-container.collapse {
    margin-left: 50px;
    transition: 0.7s ease;
  }
}

@media(max-width: 600px) {
  .adminpanel{

    .adminpanel-container {
      
      .adminpanel-main {
        padding: 2em 1em;
      }
    }
  }
}

