@import '../../scss/utilities/variables';
@import '../../scss/layout/colors';

.userdashboard {
  display: flex;
  color: $clr-light;

  .bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    mix-blend-mode: multiply;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .userdashboard-container {
    flex: 6;
    z-index: 10;
    margin-left: 215px;
    transition: 0.7s ease;

    .userdashboard-main {
      padding: 2em;
      height: calc(100% - 140px);
      margin-top: 70px;
    }
  }
}

.userdashboard-container.collapse {
  margin-left: 50px;
  transition: 0.7s ease;
}

@media(max-width: 600px) {
  .userdashboard{

    .userdashboard-container {
      
      .userdashboard-main {
        padding: 2em 1em;
      }
    }
  }
}