@import '../../../scss/layout/colors';
@import '../../../scss/utilities/variables';

.overview {
  color: $clr-main;

  .icon {
    font-size: 100px;
  }

  .right-section {
    height: fit-content;
    
    .table-container {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding: 2em;
  
      .table {
        padding: 1em;
        background: $clr-light;
        border-radius: 20px !important;
        border: none !important;
        overflow: visible;
      }
    }
  }
}

@media(max-width: 600px) {
  .overview {
    padding: 0;
  }
  .overview .content-wrapper{
    flex-direction: column;
  }
}