@import '../../scss/layout/colors';
@import '../../scss/utilities/variables';

.navbar {
  position: fixed;
  width: calc(100% - 215px);
  height: 70px;
  display: flex;
  align-items: center;
  font-size: 14px;
  background: $grd-dk-hr;
  z-index: 20;
  transition: 0.7s ease;

  .wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    z-index: 10;

    .search {
      display: flex;
      align-items: center;
      border: $border;
      padding: 3px;
      border-radius: 5px;
      padding-left: 1em;

      input {
        border: none;
        outline: none;
        background-color: transparent;
        color: $clr-light;
      }
    }

    .items {
      display: flex;
      align-items: center;
      gap: 1em;
      
      .item {
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}

.navbar.collapse {
  width: calc(100% - 50px);
  transition: 0.7s ease;
}

@media(max-width: 600px) {
  .navbar {
    height: 90px;
    width: auto;
    
    .wrapper {
      flex-direction: column-reverse;
      gap: 0.5em;
    }
  }
}