@import '../../../scss/layout/colors';
@import '../../../scss/utilities/variables';
@import '../../../scss/utilities/mixins';

.accounts {
  z-index: 10;
  color: $clr-dark;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $clr-main;
  
  .title {
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: space-between;

  }
  .table-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .table {
      padding: 1em;
      background: $clr-light;
      border-radius: 20px !important;
      border: none !important;
    }
  }
}

.actions {

  .deactivate {
    @include slideSolidBtn;
    font-size: 13px;
    background: $grd-high;
    border-radius: 20px;
    width: 110px;

    &:hover {
      background: $grd-high-sec;
    }
  }

  .activate {
    @include slideSolidBtn;
    font-size: 13px;
    border-radius: 20px;
    width: 110px;
  }

}

.suspend {
  @include slideSolidBtn;
  background: $grd-high;
  border-radius: 50%;
  width: fit-content;
  height: fit-content;
  font-size: 13px;

  &:hover {
    background: $grd-high-sec;
  }
}