@import '../../scss/layout/colors';
@import '../../scss/utilities/variables';

.sidebar {
  flex: 1.1;
  min-height: 100vh;
  background: $grd-dk-main;

  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    img {
      width: 25px;
    }

    .logo {
      font-size: 1.2rem;
    }
  }
  
  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    height: calc(100% - 100px);
    
    ul {
      height: 100%;
      margin-top: 1em;
      display: flex;
      flex-direction: column;
      gap: 1em;
      padding: 1em;
      li {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 5px;
        cursor: pointer;

        &:hover {
          opacity: 0.5;
        }

        &:last-child {
          margin-top: auto;
        }

        .icon {
          color: #0000ff;
        }

        span {
          font-style: 13px;
          font-weight: 500;
          margin-left: 10px;
        }
      }
    }  
  }

}