@import '../../../../scss/layout/colors';
@import '../../../../scss/utilities/variables';

.userId {
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $clr-main;
  gap: 2em;

  .title {
    width: 100%;
    z-index: 10;
    display: flex;
    justify-content: flex-start;
  }

  .user-profile-contanier{
    z-index: 10;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;

    .icon {
      font-size: 200px;
    }

    .user-profile-details {
      width: min(80%, 800px);
      display: flex;
      justify-content: space-evenly;

      h3 {
        font-size: 1.2rem;
      }

      .left-user-profile-details {
        width: 25%;
      }

      .right-user-profile-details {
        width: 25%;

        .userProfileActions {
          display: flex;
          gap: 1em;
          margin-top: 1em;
        }
      }
    }
  }
  
  .table-holder {
    width: min(80%, 800px);

    .table-container {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: flex-start;
  
      .table {
        padding: 1em;
        background: $clr-light;
        border-radius: 20px !important;
        border: none !important;
      }
    }
  }
}