// global colors
$clr-main: #073c81;
$clr-sec: #073281;
$clr-sub: #3793FF;
$clr-high: #fc2e20;
$clr-light: rgb(245, 245, 245);
$clr-dark: rgb(14, 14, 14);

$grd-main: linear-gradient(220.55deg, #0948a5 0%, #073c81 100%);

$grd-sec: linear-gradient(220.55deg, #3793FF 0%, #073c81 100%);

// fonts
$mf: "Poppins", sans-serif;
$pf: 'Josefin Sans', sans-serif;
$sf: "Redressed", cursive;
$rf: 'Roboto', sans-serif;
$df: 'Mrs Saint Delafield', cursive;
