/* global rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  // color: $clr-light;
}

html,
body {
  padding: 0;
  margin: 0;
  background: $clr-light;
}

a {
  color: inherit;
  text-decoration: none;
}

/* fonts */
P {
  font-family: "Poppins";
  font-size: 1rem;
}
h1 {
  font-size: 3.5rem;
  font-weight: 900;
}

h2 {
  font-size: 3rem;
  font-weight: 800;
}

h3 {
  font-size: 2rem;
  font-weight: 700;
}
h4 {
  font-size: 1.5rem;
  font-weight: 600;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.swal2-input-holder {
  .swal2-input {
    font-size: 1rem;
  }
}


@media (max-width: 1000px) {
    /* fonts */
  P {
    font-family: "Poppins";
    font-size: 1rem;
  }
  h1 {
    font-size: 2.5rem;
    font-weight: 900;
  }

  h2 {
    font-size: 2rem;
    font-weight: 800;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  h4 {
    font-size: 1.2rem;
    font-weight: 600;
  }
}



@media (max-width: 600px) {
    /* fonts */
  P {
    font-family: "Poppins";
    font-size: 1rem;
  }
  h1 {
    font-size: 2rem;
    font-weight: 900;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 800;
  }

  h3 {
    font-size: 1.3rem;
    font-weight: 700;
  }
  h4 {
    font-size: 1.1rem;
    font-weight: 600;
  }
}
