.login {
  .primary-button {
    margin-top: 5rem;
    margin-right: 1rem;
    padding: .6rem;
    width: 10rem;
    background: #222;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    transition: all .5s;
    cursor: pointer;
    text-transform: capitalize;
  }

  h2 {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;

    font-family: "Segoe UI", Roboto, "Helvetica Neue";
    color: #212529;
    text-align: center !important;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.2;
    font-size: 2rem;
    font-weight: 700;
  }

  p {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 1rem;
    margin-top: 0;
  }

  form {
    display: inline-block;
    border-radius: 2px;
    padding: 2rem;
  }

  form label {
    float: left;
    font-size: .9rem;
    margin: 0;
    padding: 0;
    color: black;
  }

  .right-label {
    float: right;
    cursor: pointer
  }

  input {
    width: 15rem;
    padding: .3rem;
    border-radius: 5px;
    outline: none;
    border: none
  }

  #sub_btn {
    display: block;
    width: 100%;
    padding: .3rem;
    border: none;
    background: $clr-main;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
  }

  #sub_btn:hover {
    background: #333;
    transition: all .5s
  }

  footer p {
    -webkit-text-size-adjust: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center !important;
    box-sizing: border-box;
    display: block;
  }

  .error {
    color: red;
    font-size: 15px;
  }

}


@media (max-width: 600px) {
  .login {
    .m-5-auto {
      margin-top: -10rem
    }
  }
}